body {
margin: 0;
font-family: "Poppins", Arial;
background: #1F2937;
color: white;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.container {
text-align: center;
padding: 20px;
}